<h1>Welcome#show</h1>
<p>Find me in app/views/welcome/show.html.erb</p>


<h1>Welcome!</h1>
<%= form_tag do %>
<div class="demo">

<div class="ui-widget">
	<label for="birds">Birds: </label>
	<input id="birds" />
</div>
</div>

<% end %>




