<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://camel.apache.org/schema/spring/camel-spring.xsd">

	<broker xmlns="http://activemq.apache.org/schema/core" useJmx="true" persistent="false">
		<transportConnectors>
			<transportConnector uri="tcp://localhost:61616" />
		</transportConnectors>
	</broker>

	<bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
		<property name="brokerURL" value="failover:tcp://localhost:61616" />
	</bean>

	<bean id="myAggregationStrategy" class="br.com.esub.plataform.poc.strategy.MyAggregationStrategy" />
	<bean id="mySplitterStrategy" class="br.com.esub.plataform.poc.strategy.MySplitterStrategy" />

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<!-- 
		<route>
			<from uri="file:src/data?noop=true" />
			<convertBodyTo type="String" />
			<to uri="stream:out" />
			<to uri="activemq:personnel.records" />
		</route>

		<route>
			<from uri="activemq:personnel.records" />
			<choice>
				<when>
					<xpath>/person/city = 'London'</xpath>
					<log message="UK message" />
					<to uri="file:target/messages/uk" />
				</when>
				<otherwise>
					<log message="Other message" />
					<to uri="file:target/messages/others" />
				</otherwise>
			</choice>
		</route>
		-->

		<route>
			<from uri="file:src/data/message?noop=true" />
			<split strategyRef="myAggregationStrategy" >
				<!-- <method bean="mySplitterStrategy" method="split"/> -->
				<simple>body</simple>
				<log message="Split line ${body}" />
				<to uri="mock:split" />
			</split>
			<log message="Aggregated ${body}" />
			<to uri="mock:result" />
		</route>
	</camelContext>

</beans>
